{% extends 'main.html' %}
{% block content %}
<div class="col-lg-12">
                    <div id="switchPoint" class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>SYSTEM LOGS {{datetyme}}</span><small class="px-1"></small></h6>
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered" id="myTable">
                                        <thead>
                                        <tr>
                                            <th class="max-width">Name</th>
                                            <th class="max-width">TimeIn</th>
                                            <th class="max-width">TimeOut</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                        <tbody id="role">
                                        {% if logs %}
                                        {% for log in logs %}
                                            <tr>
                                                <td>{{log.useaccountname}}</td>
                                                <td>{{ datetime.strptime(log.timein,'%Y-%m-%d %H:%M:%S')}}</td>

                                                {% if log.timeout=="PENDING" %}
                                                <td>{{log.timeout }}</td>
                                                 {% else %}
                                               <td>{{ datetime.strptime(log.timeout,'%Y-%m-%d %H:%M:%S') }}</td>
                                                {% endif %}

                                                <td>{{ log.created_at.strftime('%d-%m-%Y') }}</td>

                                                <td>{{log.status}}</td>



                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <td colspan="6" class="text-danger text-center"><b>No logs found</b></td>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}